{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
<!-- Three columns of text below the carousel -->
<h3>Nos meilleures ventes</h3>
<p>Découvrez les produits les plus vendus</p>
<div class="row">
    {% for product in products %}
        {% if products|length > 4 %}
            <div class="col-md-2">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% elseif products|length > 3 %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% elseif products|length < 4 %}
            <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endif %}
        
    {% endfor %}
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">La nouvelle série de processeurs d'AMD Ryzen. <span class="text-muted">Le jeu sans limite.</span></h2>
        <p class="lead">Lorsque vous bénéficiez de l'architecture de processeur la plus avancée pour les gamers et les créateurs de contenu, les possibilités sont infinies. Que vous jouiez aux tout derniers jeux, conceviez le prochain gratte-ciel ou utilisiez des données, vous avez besoin d'un processeur puissant capable de gérer tout cela et plus encore. C'est incontestable, les processeurs pour PC de bureau AMD Ryzen™ série 5000 imposent un nouveau standard pour les gamers comme pour les artistes.</p>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/img/AMD_RYZEN.png') }}" alt="AMD Ryzen series" class="img-fluid">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">GEFORCE RTX série 30. <span class="text-muted">Pour un rendu de jeux-vidéos non comparable.</span></h2>
        <p class="lead">Les GPU GeForce RTX™ série 30 offrent des performances ultimes à tous les joueurs et créateurs. Optimisés par Ampere, l’architecture NVIDIA RTX de seconde génération, ces produits de haute technologie sont dotés de nouveaux cœurs RT et Tensor et embarquent des multiprocesseurs de flux à hautes performances pour délivrer des fonctionnalités d’IA de pointe ainsi qu’un rendu graphique ultra-immersif grâce au ray tracing.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{ asset('assets/img/NVIDIA_30_SERIES.png') }}" alt="NVIDIA 30 series" class="img-fluid">
    </div>
</div>

<!-- <hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
</div> -->

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
{% endblock %}