{% extends 'base.html.twig' %}

{% block title %}Mes adresses - La boutique française{% endblock %}

{% block content %}
    <a href="" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
   <h1>Mes adresses</h1>
   C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.<br/>
   <a href="{{ path('account') }}">Retour</a>
   <hr>
   VUE DE MES ADRESSES
{% endblock %}
