@media screen and (min-width: 200px) and (max-width: 506px) {
    .logo-top
    {
        width:250px;
    }
    .logo-down
    {
        display:none;
    }
    .ftZn3{
        display:none;
    }
    .fa-li{
        display:none; 
        margin-left: 0 !important;    
    }
}

body {
    position: relative;
}

main {
    min-height: calc(100vh - 56px - 96px - 40px);
}

.navbar-item-custom, .navbar-item-custom a {
    color: white;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    /* padding-top: 25px; */
    /* margin-top: 50px; */
}

.product-item {
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 2px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-size: 20px;
    font-weight: bold;
}

.cart-icon {
    height: 20px;
    padding-left: 20px;
    fill: white;
}

.block-small {
    max-width: 60px;
    margin: 0 auto;
}

.form-check {
    background-color: white;
    padding: 20px 65px;
    margin-top: 10px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}

.account-item {
    background-color: #f1f2f6;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}
.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}

.page-footer
{
background-color: #343a40;
}

.footer-copyright{
    background-color: white;
}

.footer-top{
    background-color: #334859;
}

.lightsteelblue {
    color: lightsteelblue !important;
}

.social-icon:hover{
opacity: 0.6;
}


.AccessibilityWeb img {
    float: none;
    padding-left: 0;
    padding-right: 5px;
  }
  .ftZn3 {
    color: #323232;
    padding: 10px;
  }
  .ftZn3 > ul {
    text-align: center;
  }
  .ftZn3 li {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
  }
  .ftZn3 a {
    color: #323232;
    font-size: 0.9em;
    text-decoration: none;
  }
  .ftZn3 img {
    display: inline;
    vertical-align: middle;
  }
  .ftSingle img {
    float: none;
    padding-left: 0;
    padding-right: 5px;
  }
  .ftSingle span {
    padding-top: 0;
  }
  .ftSingle .displayToPro {
    display: none;
  }
  .AdTrust img {
    float: none;
    padding-left: 0;
    padding-right: 5px;
  }
  .PciDss img {
    float: none;
    padding-left: 0;
    padding-right: 5px;
  }
  .ftZn3 span {
    display: inline-block;
    vertical-align: middle;
  }
  .ftNf img {
    float: none;
    padding-left: 0;
    padding-right: 5px;
  }
  .ftZn3 span:first-letter {
    color: #323232;
  }
  @media only screen and (max-width: 1023px) {
    .ftZn3 img {
      float: none;
    }
    .ftZn3 span {
      display: block;
      padding-top: 10px;
    }
  }
  .displayToPro {
    display: none;
  }
  .hideFromPro {
    display: block;
  }

  .ftZn3{
      background-color: white;
  }